.Share {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 100%;
  color: #fff;
  cursor: pointer; }
  .Share:before {
    display: inline-block;
    content: '';
    font-size: 28px;
    line-height: 48px;
    font-family: 'FontAwesome'; }
  .Share--facebook:before {
    content: '\f09a'; }
  .Share--twitter:before {
    content: '\f099'; }
