.Text {
  font-family: "DIN-EQP-Regular";
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  padding: 0 15px; }
  @media (min-height: 480px) {
    .Text {
      font-size: 17px;
      line-height: 22px; } }
  @media (min-height: 640px) {
    .Text {
      font-size: 18px;
      line-height: 24px; } }
  @media (orientation: landscape) and (min-width: 640px) {
    .Text {
      line-height: 34px; } }
