.white_blue {
  background-image: linear-gradient(#f9f9f9, #afbbca); }

.red {
  background-image: linear-gradient(#f04545, #c22f32); }

.only_blue {
  background-image: linear-gradient(#64b2df, #64b2df); }

.white {
  color: white; }
