.Masthead {
  position: absolute;
  bottom: 20px;
  z-index: 12;
  display: table;
  width: 90%;
  left: 5%; }
  .Masthead__item {
    display: table-row; }
  .Masthead__label {
    display: table-cell;
    text-align: right;
    vertical-align: top;
    font-family: "DIN-EQP-MediumCond";
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #c6aa57;
    width: 48%;
    padding-right: 2%;
    padding-top: 10px; }
    @media (orientation: landscape) and (min-width: 640px) {
      .Masthead__label {
        font-size: 20px;
        line-height: 28px;
        padding-top: 15px; } }
    .Masthead__item--full .Masthead__label {
      font-family: "DIN-EQP-Light";
      font-size: 13px;
      line-height: 16px;
      font-weight: normal;
      display: inline-block;
      width: auto;
      padding-top: 0;
      padding-right: 0; }
      @media (orientation: landscape) and (min-width: 640px) {
        .Masthead__item--full .Masthead__label {
          font-family: "DIN-EQP-Condensed";
          font-size: 18px;
          line-height: 22px;
          font-weight: normal; } }
  .Masthead__details {
    display: table-cell;
    text-align: left;
    vertical-align: top;
    font-family: "DIN-EQP-Condensed";
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
    padding-top: 10px; }
    @media (orientation: landscape) and (min-width: 640px) {
      .Masthead__details {
        font-size: 20px;
        line-height: 24px;
        padding-top: 15px; } }
    .Masthead__item--full .Masthead__details {
      font-family: "DIN-EQP-Light";
      font-size: 13px;
      line-height: 16px;
      font-weight: normal;
      display: block;
      width: 200%;
      padding-top: 5px;
      text-align: center; }
      @media (orientation: landscape) and (min-width: 640px) {
        .Masthead__item--full .Masthead__details {
          font-family: "DIN-EQP-Condensed";
          font-size: 18px;
          line-height: 22px;
          font-weight: normal;
          width: 150%;
          text-align: center;
          padding-left: 50%; } }
  .Masthead .twitter-follow-button {
    display: none; }
    @media (min-height: 480px) {
      .Masthead .twitter-follow-button {
        display: block; } }
